* {
	padding: 0;
	margin: 0;
}

section#bg {
  background-image: url(../images/background-1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -1rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 480px;
}

section#bg.two {
  background-image: url(../images/background-2.png);
}

section#actions {
  position: absolute;
  height: 4rem;
  right: 15px;
  bottom: 20px;
  left: 15px;
  opacity: 0.5;
  /*background: none repeat scroll 0% 0% #F00;*/
}

#circle {
  position: absolute;
  background-color: rgba(0,0,0,0);
  width: 64px;
  height: 64px;
  left: calc(320px / 2 - 32px - 15px);
  border-radius: 50%;
  z-index: 10;
}

.circle {
  position: absolute;
  background: url(../images/background.svg) 0 0;
  min-width: 64px;
  width: 64px;
  height: 64px;
  left: calc(50% - 32px);
  z-index: 1;
}

#ring_off {
  width: 100px;
  height: 100px;
  background: none repeat scroll 0% 0% ;
  position: absolute;
  bottom: 0px;
  left: 0px;
}