* {
	padding: 0;
	margin: 0;
}

section#bg {
  background-image: url(../images/background-1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -1rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 480px;
}

section#bg.two {
  background-image: url(../images/background-2.png);
}

section#actions {
  position: absolute;
  height: 4rem;
  right: 15px;
  bottom: 20px;
  left: 15px;
  opacity: 0.5;
}

#circle {
  position: absolute;
  background-color: rgba(0,0,0,0);
  width: 64px;
  height: 64px;
  left: calc(320px / 2 - 32px - 15px);
  border-radius: 50%;
  z-index: 10;
}

.circle {
  position: absolute;
  min-width: 64px;
  width: 64px;
  height: 64px;
  left: calc(50% - 32px);
  z-index: 1;
  opacity: 0;
}

.init-icon {
  position: absolute;
  background: url(../images/Toggle-2.png) 0 0 no-repeat;
  min-width: 64px;
  width: 64px;
  height: 64px;
  left: calc(50% - 32px);
}

#hang_up {
  background: url(../images/hang_up.png) 50% 50% no-repeat;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 101;
}

#hang_up.hang_up_active {
  background: url(../images/hang_up_active.png) 50% 50% no-repeat;
}

#sms {
  background: url(../images/sms.png) 50% 50% no-repeat;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 20px;
  left: 66px;
  z-index: 101;
}

#sms.sms_active {
  background: url(../images/sms_active.png) 50% 50% no-repeat;
}

#pick_up {
  background: url(../images/pick_up.png) 50% 50% no-repeat;
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 20px;
  right: 15px;
  z-index: 101;
}

#pick_up.pick_up_active {
  background: url(../images/pick_up_active.png) 50% 50% no-repeat;
}