*{
	padding: 0;
	margin: 0;
}
body{
  overflow: hidden;
  height: 460px;
}
section#bg{
  background-image: url(../images/background-1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 480px;
  overflow: hidden;
}
section#bg.two{
  background-image: url(../images/background-2.png);
}

section#actions{
  position: absolute;
  bottom: -100px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  left: calc( 50% - 150px );
}

#circle{
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: calc( 50% - 2rem);
  background-color: rgba(255,255,255,0.65);
  border-radius: 40px;
  top: calc(50% - 2rem);
}

#ring_off{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-image: url(../images/hang_up.png);
  background-repeat: no-repeat;
  background-position: center;
}

#ring_off.active{
  width: 76;
  height: 76;
  background-color: #e00000;
  border-radius: 40px;
  background-image: url(../images/hang_up_active.png);
  opacity: 1
}

#get_call{
  width: 76px;
  height: 76px;
  border-radius: 40px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-image: url(../images/pick_up.png);
  background-repeat: no-repeat;
  background-position: center;
  
  
}

#get_call.active{
  /*width: 80px;
  height: 80px;*/
  
  transform: scale(1.1, 1.1);
  border-radius: 40px;
  background-color: #27c8c2;
  background-image: url(../images/pick_up_active.png);
  opacity: 1;
  transition: transform 0.3s;
}
       
#sms{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 124px;
  left: calc(50% - 40px);
  background-image: url(../images/SMS.png);
  background-repeat: no-repeat;
  background-position: center;
}

#sms.active{
  width: 76;
  height: 76;
  border-radius: 40px;
  background-color: #fff;
  background-image: url(../images/SMS_active.png);
  opacity: 1;
}

#bg.call_declined{
  background-image: url(../images/call-declined.png);
  opacity: 1;
  z-index: 10;
  -moz-transition: opacity 0.3s;
}

#bg.call_declined.disabled{
  opacity: 0;
  z-index: -1;
  -moz-transition: opacity 0.3s;
}

#bg.call_accepted{
  background-image: url(../images/call-accepted.png);
  opacity: 1;
  z-index: 10;
  -moz-transition: opacity 0.3s;
}

#bg.call_accepted.disabled{
  opacity: 0;
  z-index: -1;
  -moz-transition: opacity 0.3s;
}

#bg.sms_accepted{
  background-image: url(../images/sms_screen.png);
  opacity: 1;
  z-index: 10;
  -moz-transition: opacity 0.3s;
}

#bg.sms_accepted.disabled{
  opacity: 0;
  z-index: -1;
  -moz-transition: opacity 0.3s;
}